*{
    margin: 0;
    padding: 0;
    --poppins: 'Poppins', sans-serif;
    --roboto: 'Roboto', sans-serif;

    
}

.header{
    height: 400px;
    width: 100%;
    display: flex;
    /* flex-direction:; */
    background-color: antiquewhite;
    color: red;

}
.header .img{
    height: 50px;
    width: 50px;
}
.header .nav{
    height: 30px;
    width: 30%;
    /* background-color: ; */
    margin: 5px 20px 5px 600px;
}
.header .nav .nav-menu{
    list-style-type: none;
    margin: 20px;
    line-height: 100%;
    cursor: pointer;
    display: inline-block;
    padding: 0px 0px 10px 0px;

}
.header .nav .nav-menu .nav-link{
    color: brown;
    text-decoration: none;
}
.header .hotline{
    margin-top: 10px;
    width: 170px;
    font-family: var(--roboto);
    font-weight: 500;
    font-size: 16px;
}
.performance{
    height:100px;
    width: 100%;
    display: flex;
    justify-content: end;
    /* background-color; */
    margin-top: 5px;
    margin-bottom: 50px;
    text-align:right;

}
.content{
    text-align: center;
}

.servive-section{
    display: flex;
    justify-content: center;
    margin-top: 152px;
}
.servive-section .servive-section-img{
    margin-right: 94px;
   
}
.servive-section .servive-section-contents{
    width: 493px;
    height: 374px;
    margin-right: 83px;
}


.servive-section .servive-section-contents h1{
    width: 492px;
    height: 108px;
    font-family: ;
    font-weight: ;
    font-size: ;
    margin-bottom: 20px;
}
.servive-section .servive-section-contents p{
    width: 482px;
    font-family: var(--poppins);
    font-weight: 400;
    font-size: 18px;
    color: var(--secondary-color);
}
.servive-section .servive-section-contents button{
    width: 230px;
    height: 56px;
    background-color: blue ;
    font-family: ;
    font-weight: ;
    font-size: ;
    border: none;
    color: #FFFFFF;
    border-radius: 10px;
    margin-top: 30px;

}
.main-card{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.main-card .card-1{
    margin-right: 150px;
    background-color: antiquewhite;
}
.main-card .card-1 p{
    font-family: var(--poppins);
    font-weight: 400;
    font-size: 18px;
}
.main-card .card-2{
    background-color: antiquewhite;
}
.main-card .card-2 p{
    font-family: var(--poppins);
    font-weight: 400;
    font-size: 18px;
}

.input .update-section-cards{
    width: 100%;
    height: 50px ;
 background-color: burlywood;
 margin-top: 30px;
 display: flex;
 justify-content: center;
 align-items: center;
 padding-top: 20px;

}
.input .update-section-cards p{
    margin-right: 10px;
    font-family: var(--roboto);
    font-weight: 500;
    font-size: 16px;
}
.footer{
    display: flex;
    height: 300px;
    width: 100%;
    justify-content: space-between;
    margin-top: 10px ;
    
}
.footer .box1 {
    height: 100px;
    width: 100px;
}
.footer .box1 .dropdown-item{
    width: 100%;
    height: 100%;

}
.footer .box3{
    margin-right: 2px;
    font-family: var(--roboto);
    font-weight: 500;
    font-size: 16px;
}
.logo{
    height: 300px;
    margin-top: 30px;
    text-align: center;
    color: red;
    font-size: medium;
    background-color: blanchedalmond;
    font-family: var(--roboto);
    font-weight: 500;
    font-size: 16px;
} 
.logo p{
    padding-top: 5px;
    font-family: var(--roboto);
    font-weight: 500;
    font-size: 16px;
}


/* responsive */

